html {
    height: 100%;
    background-color: #F7F9FC;
}

body {
    min-width:100%;
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
    height: 100%;
    flex-grow: 1;
    color: #151A30; 
}

main {
  border-radius: 1%;
  background-color: #FFFFFF;
  margin-left: 5em;
  margin-right: 5em;
}

img {
    width: 100%;
}

.main-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 1%;
    flex-grow: 1;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;

    background-color: #222B45;
    color: #FFFFFF;
}

.main-header img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.main-header div {
    display: flex;
    flex-direction: row;
    flex-basis: 40em;
    align-items: center;
    gap: 10px;   
}

.main-header ul {    
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    align-items: center;    
    justify-content: center;
}

.main-header a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 7px;
    border-radius: 10%;
}

.main-header a:hover {
    text-decoration: underline;
}

.about {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    padding-bottom: 1em;    
}

.about h2 {
    padding: 1em;
    margin-right: 3em;
}

.about-content  {
    padding: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px;
    justify-content: baseline;
 }

 .work {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    padding-bottom: 1em;    
}

.work h2 {
    padding: 1em;
    margin-right: 3em;
}

.work-content  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
 }

 .hero img {
    max-width: 600px;
 }

 .post-content  {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
 }

 .post {
     min-width: 25vw;
    justify-content: center;
    text-align: center;
 }

 .post img {
    max-width: 25vw;
 } 

 .footer {
    background-color: #222B45;
    color: #FFFFFF;
    text-align:center;
    height:58px;
    font-size:11px;
    display: flex;
    flex-direction: row;
}

.footer nav {
    flex-grow: 1;
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,Helvetica,Arial,Apple Color Emoji,Segoe UI Emoji;
}

.footer ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer li {
    height:58px;
    width: 100%;
    font-size:20px;
    list-style: none;    
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer a:hover {
    text-decoration: underline;
}