/* centralized commonly used format variables */
:root{
    --border: 1px solid white;
    --border-rad: 1em;
    --border-hero-rad: .5em;

    --back-about: #222B45;
    --back-header-footer: #101638;
    --back-hero-h2: #4B4A54;
    --back-wrapper: rgba(0,0,0,0.5);

    --font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'Helvetica', 'Cantarell', 'Noto Sans', system-ui;
}

html {
    background-color: black;
    color: white;
    display: flex;
}

/* Establish default values after reset */
h1 {
    font-size: 2.8em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.25em;
}

a {
    font-size: 1em;
    color: white;
}

/* Universal settings for the body */
body {
    display: flex;
    flex-direction: column; 
    align-content: center;
    flex-grow: 1;
}

/* create and format settings for main header flexbox  */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    margin-bottom: 1em;
    flex-grow: 1;
    font-family: var(--font-family);
    background-color: var(--back-header-footer);

}

/* main header image display settings */
.header img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
    padding: 1em;
}

/* create and format settings for main div flexbox  */
.header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-basis: 40em;
    gap: .265em;   
}

/* create and format settings for main header nav UL flexbox  */
.header ul {    
    display: flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;  
    list-style: none;
    gap: 10px;
    font-size: 1.5em;
    font-family: var(--font-family);
}

.header li {
    white-space: nowrap;
}

/* Format settings for main header  */
.header a {
    padding: .438em;
    border-radius: 10%;
    text-decoration: none;
    color: var(--main-nav-text);    
}

/* Hover settings for nav UL in header */
.header a:hover {
    text-decoration: underline;
}

/* Format settings for main section */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-top: 3em;
}

/* create and format settings for about section flexbox  */
.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em;
    border: var(--border);
    border-radius: var(--border-rad);
    background-color: var(--back-about);
    font-family: var(--font-family); 
}

.about h2 {   
    flex-wrap: wrap; 
    padding: 1em;
    margin-right: 3em;
    white-space: nowrap;
}

#shouldntHaveToDoThis {
    margin-bottom: 1em;
}

.work {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 4em;
}

/* create and format settings for project work-content section flexbox  */
.current-work  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    gap: .625em;
 }

 .hero h2 {
    align-content: center;
    padding: .5em;
    margin-bottom: 1em;
    border: var(--border);     
    border-radius: var(--border-hero-rad);
    background-color: var(--back-hero-h2);
    font-family: var(--font-family);
 }

 .current-work img {
    justify-items: center;
    align-self: center;
    max-width: 50%;
    border: var(--border);
    border-radius: var(--border-rad);   
 }

 .former-work {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-content: center;    
     flex-wrap: wrap;
     margin-top: 2em;
     gap: 1em;
 }

 /* Display settings for project post section flexbox  */
 .post img {
    max-width: 25vw;
    border-radius: var(--border-rad);    
    border: var(--border);
 } 

 /* Format settings for footer section */
 .footer {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    align-content: center;
    text-align: center;  
    padding: .5em;
    list-style: none;
    background-color: var(--back-header-footer);
    font-family: var(--font-family);
}

/* Flexbox settings for footer nav */
.footer nav {
    flex-grow: 1;
}

/* create and format settings for footer nav UL section flexbox  */
.footer ul {   
    display: flex;
    padding: 1em;
    justify-content: space-evenly;   
}

/* create and format settings allowing hover function of footer */
.footer a:hover {
    text-decoration: underline;
}

/* Create wrapper for text when hovering over image */
.wrapper {
    position: relative;
}
.wrapper a {
    display: flex;
    justify-content: center;
}
  
.hero .text {
    position: absolute;   
    justify-content: center;
    align-items: center;
    max-width: 50%;
    display: none;  
    top: 0;
    left: 25%;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.hero .wrapper a:hover .text {
    display: flex;
    text-decoration: underline;
    opacity: 100%;
    background: var(--back-wrapper);
}

.post .text {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}

.post .wrapper a:hover .text {
    display: flex;
    text-decoration: underline;
    opacity: 100%;
    background: var(--back-wrapper); 
}

  /* Responsive settings for mobile devices */
@media screen and (max-width: 768px) {
    p {
        font-size: .75em;
    }

    h1 {
        font-size: 1.25em;
    }

    .header ul {
        flex-direction: column;
        font-size: .75em;
    }

    .about {
        margin-top: -2em;
        padding: 1em;
 
    }

    .about h2 {
        font-size: 1em;
    }

    div.hero {
        margin-right: -5em;
        margin-left: -5em;
        margin-top: -2em;
    }

    .work h2 {
        margin-left: 3.5em;
        margin-right: 3.8em;
        font-size: 1em;
    }
} 